{% extends 'base.html' %}

{% block title %}{{ 'Editar Cliente' if cliente else 'Cadastrar Cliente' }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ 'Editar Cliente' if cliente else 'Cadastrar Cliente' }}</h1>

    <!-- Mensagens Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Formulário -->
    <form method="POST" id="cliente-form">
        <!-- Linha com Nome, CPF/CNPJ, Versão e Ativo -->
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control" value="{{ cliente.nome if cliente else '' }}" required>
                </div>
                <div class="col-md-2">
                    <label for="cpf_cnpj" class="form-label">CPF/CNPJ:</label>
                    <input type="text" name="cpf_cnpj" id="cpf_cnpj" class="form-control" value="{{ cliente.cpf_cnpj if cliente else '' }}" required>
                </div>
                <div class="col-md-1">
                    <label for="versao" class="form-label">Versão:</label>
                    <input type="text" name="versao" id="versao" class="form-control" value="{{ cliente.versao if cliente else '' }}">
                </div>
                <div class="col-md-2">
                    <label for="versao_api" class="form-label">PI:</label>
                    <input type="text" name="versao_api" id="versao_api" class="form-control text-muted bg-light" value="{{ cliente.versao_api if cliente else '' }}">
                </div>
                <div class="col-md-2">
                    <label for="produto" class="form-label">Produto:</label>
                    <select name="produto" id="produto" class="form-control">
                            <option value="LC" {% if cliente and cliente.produto == 'LC' %}selected{% endif %}>LC SISTEMAS</option>
                            <option value="CPLUG" {% if cliente and cliente.produto == 'CPLUG' %}selected{% endif %}>CPLUG</option>
                        </select>
                </div>
            </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="drive_link" class="form-label">Link do Backup:</label>
                <input type="url" name="drive_link" id="drive_link" class="form-control" value="{{ cliente.drive_link if cliente else '' }}" >
            </div>
            <div class="col-md-4">
                <label for="ultimo_backup" class="form-label">Arquivo:</label>
                <input type="text" name="ultimo_backup" id="ultimo_backup" class="form-control form-control text-muted bg-light" value="{{ cliente.ultimo_backup if cliente else '' }}">
            </div>
            <div class="col-md-2">
                <label for="data_ult_bckp" class="form-label">Data do Último Backup:</label>
                <input type="text" name="data_ult_bckp" id="data_ult_bckp" class="form-control form-control text-muted bg-light" value="{{ cliente.data_ult_bckp if cliente.data_ult_bckp is not none else '' }}">
            </div>
        </div>

        <!-- Linha com Acessos -->
        <div class="row mb-3">
            <div class="col-md-2">
                <label for="acesso_srv" class="form-label">Acesso ao Servidor:</label>
                <input type="text" name="acesso_srv" id="acesso_srv" class="form-control" value="{{ cliente.acesso_srv if cliente else '' }}">
            </div>
            <div class="col-md-6">
                <label for="acessos_trm" class="form-label">Acesso aos Terminais:</label>
                <input type="text" name="acessos_trm" id="acessos_trm" class="form-control" value="{{ cliente.acessos_trm if cliente else '' }}">
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email" class="form-control form-control text-muted bg-light" value="{{ cliente.email if cliente else '' }}" >
            </div>
        </div>
        <!-- Linha do ativo e acompanhamento -->
        <div class="row mb-3">
            <div class="col-md-1">
                    <label for="ativo" class="form-label">Ativo:</label>
                    <select name="ativo" id="ativo" class="form-control">
                        <option value="1" {% if cliente and cliente.ativo == 1 %}selected{% endif %}>Sim</option>
                        <option value="0" {% if cliente and cliente.ativo == 0 %}selected{% endif %}>Não</option>
                    </select>
            </div>
            <div class="col-md-1">
                <label for="acompanhamento" class="form-label">Acompanhamento:</label>
                <input type="text" id="acompanhamento" class="form-control text-muted bg-light"
                       value="{{ 'Sim' if cliente and cliente.acompanhamento == 1 else 'Não' }}"
                       readonly>
            </div>
        </div>
        <div class="col-md-2">
                    <label for="teste" class="form-label">VERSAO_API:</label>
                    <input type="text" name="teste" id="teste" class="form-control text-muted bg-light" value="{{ cliente.versao if cliente else '' }}">
                </div>

        <br>

        <!-- Botões -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
            {{ 'Salvar Alterações' if cliente else 'Cadastrar' }}
        </button>
        <a href="{{ url_for('buscar_cliente') }}" class="btn btn-secondary">Cancelar</a>
    </form>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Ação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja salvar as alterações?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirm-save">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Submete o formulário quando o botão "Confirmar" do modal for clicado
    document.getElementById('confirm-save').addEventListener('click', function() {
        document.getElementById('cliente-form').submit();
    });
</script>
{% endblock %}
