{% extends 'base.html' %}

{% block title %}Detalhes do Cliente{% endblock %}

{% block content %}

    <!-- Exibe as informações do cliente -->
    <h1>{{ cliente.nome }}</h1>
    <p><strong>CPF/CNPJ:</strong> {{ cliente.cpf_cnpj }}</p>
    <p><strong>Cidade:</strong> {{ cliente.cidade }}</p>

    <h4>Parcelas do Cliente:</h4>
    <!-- Tabela de Parcelas -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Drive</th>
            </tr>
        </thead>
        <tbody>
    {% if banco %}
        {% for b in banco %}
            <tr>
                <td><a href="{{ b.referencias }}" target="_blank">{{ b.referencias }}</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">Nenhum link de acesso criado!</td>
        </tr>
    {% endif %}
</tbody>
    </table>
{% endblock %}
